/* ===== Scrollbar =====*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) #7a82c0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--chakra-colors-teal-600);
}
